backend/exchange/__pycache__/*
backend/exchange/migrations/__pycache__/*
backend/stock/__pycache__/*
backend/stock/migrations/__pycache__/*
backend/tradingtree/__pycache__/*
backend/tradingtree/.env
backend/venv/*
frontend/.angular/*
frontend/.vscode/*
frontend/node_modules/*